.front{
background-color: #db524d;

}

.pomo{
    background-color: rgb(0, 0, 0,0.2);
    border-radius:5%;
    background-size: 10%;
    
}
.glass1 {
    background-color: rgb(0, 0, 0,0.2);
    border-radius:5%;
}
.glass2{
    background-color: rgb(0, 0, 0,0.2);
    border-radius:5%;
}
.glass3{
    background-color: rgb(0, 0, 0,0.2);
    border-radius:5%;
}
header ul {
  
   
    display:grid;
    grid-template-columns: 1fr 1fr;
     margin-left: 1em;
    
    color:white;
    font-family: sans-serif;
  
    float: left;
    text-align: center;
    padding: 1px;
}
.navbar{
    padding-left: 12em ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.navbar li{
    margin-left:1.6em;
    padding: 7px;
    border-radius: 10%;
    font-size: 12px;
   
    
}
.pomi{
    margin-left: 20rem;
}
li{
    list-style: none;
}

.about{
    margin:  0 30% 0 30%;
    font-family:sans-serif;
    
    
}

.about p{
   
    color: rgb(134, 95, 95);
    font-size: 1.1em;
}
.time{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
    text-align: center;
    padding: 12px;
    
   
    /* padding: 0.5em 1.5em 1.2em 4em ;
    margin-left: 20rem;
    margin-right: 20rem;
    color:wheat;
    font-family: sans-serif; */
    
}
.timespan{
    color:white;
    font-size: 5em ;
}
.time li{
    margin: 30px;}
.break{
    padding: 0.5em 1.5em 1.2em 4em ;
    margin-left: 20rem;
    margin-right: 20rem;
    color:white;
    font-family: sans-serif;
    background-color: rgba(202, 195, 195, 0.3);
    border-radius: 1.04em;
}

.break p{
    font-size: 5rem;
    padding-left: 1.5em;
}
button{
    font-size: 1.5rem;
    padding:1.01em 1.7em;
    margin-left: 7em;
    color: crimson;
    border-radius: 5%;

  
}
.time1{
    display:grid;
    grid-template-columns: 0.1fr 0.1fr 0.9fr;
    background-color: rgba(202, 195, 195, 0.3) ;
    
    color: rgb(238, 215, 215);
  padding-left: 7em;
  padding-right: 7em;
 
    
}
b{
    font-size: 1.2em;
    color: white;

}


.task1{
    margin-left: 20rem;
    margin-right: 20rem;

}
.task1 p{
    padding-left: 15em ;
}
.milk{
font-size: 1.2em;
padding-left: 10em;
color: cornsilk;
}
.tas{
    color: whitesmoke;
    
}


.task{
    font-size: 1.2em;


}
.task  li {
   
    margin-bottom: 5px;
    padding: 1.2em;
   
}
.list1{
    background-color: whitesmoke;
    background-size: 1em;
    border-radius: 10px;
    
}
.list2{
    color: rgba(22, 8, 8, 0.7);
    background-color: white;
    border-radius: 10px;
 
}
.list3{
    background-color:rgba(22, 8, 8, 0.3);
    border-radius: 10px;
    border-style:dotted;
    border-color: rgba(185, 181, 181, 0.6);
    color: cornsilk;
    
    

        
}

.list0{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:  0 30%  0 30%;
    color:rgb(168, 130, 121);
}
.list01{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:  0 45%  0 45%;

}

@media screen and (max-width: 500px) {
   
}








